.Lottery {
    text-align: center;
    border: 2px solid gray;
    padding: 20px 0;
    margin: auto;
    width: 600px;
    border-radius: 10px;
}

.Lottery h1 {
    margin-top: 0;
}

.ball-container {
    display: flex;
    justify-content: center;
}

.Lottery button {
    background-color: #383838;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 20px;
    padding: 5px 10px;
    cursor: pointer;
}

.Lottery button:hover {
    background-color: #555454;
}