.Lottery {
    border: 2px solid gray;
    padding: 1em 0 2em 0;
    text-align: center;
    margin: 1em auto auto;
    border-radius: 10px;
    width: 40em;
}

/* .Lottery h1 {
    font-size: 36px;
} */

.ball-container {
    display: flex;
    justify-content: center;
}

.Lottery button {
    background-color: #383838;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 1em;
    padding: 5px 10px;
    cursor: pointer;
}

.Lottery button:hover {
    background-color: #555454;
}