.App {
  text-align: center;
  font-family: 'Maven Pro', sans-serif;
}

.button-section {
  display: flex;
  justify-content: space-evenly;
  margin: 30px 20px;
}

.button-section button {
  padding: 10px 20px;
  font-family: 'Maven Pro', sans-serif;
  font-size: 24px;
  border: 0;
  border-radius: 10px;
  background-color: #61481C;
  color: #ffffff;
  cursor: pointer;
}

.button-section button:hover {
  background-color: #B09B71;
}

.component-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.component-title p {
  padding: 10px 60px;
  font-size: 48px;
  border-bottom: 3px solid #61481C;
  color: #61481C;
}