/* * {
  padding: 0;
  box-sizing: border-box;
} */

/* body {
  background: #eee;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
  padding: 0 16px;
  overflow-x: hidden;
} */